@font-face {
  font-family: "Feather";
  src: url("../../src/assets/icons/Feather.eot?2ulxpc");
  src: url("../../src/assets/icons/Feather.eot?2ulxpc#iefix")
      format("embedded-opentype"),
    url("../../src/assets/icons/Feather.ttf?2ulxpc") format("truetype"),
    url("../../src/assets/icons/Feather.woff?2ulxpc") format("woff"),
    url("../../src/assets/icons/Feather.svg?2ulxpc#Feather") format("svg");
  font-weight: normal;
  font-style: normal;
}
