@font-face {
  font-family: "Feather";
  src: url("../../src/assets/icons/Feather.eot");
  src: url("../../src/assets/icons/Feather.eot#iefix")
      format("embedded-opentype"),
    url("../../src/assets/icons/Feather.ttf") format("truetype"),
    url("../../src/assets/icons/Feather.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
