@import "./fonts-google.css";
@import "./fonts-icon.css";

html,
body {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 23%);
  overscroll-behavior: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
